.invent {
  margin-left: 120px;
}
p ~ input {
  width: 97%;
  border: 2px solid rgb(236, 230, 230);
}
.quan ~ input {
  border: 2px solid rgb(38, 36, 36);
}
th {
  background-color: blue;
  color: aliceblue;
  border: 1px solid rgb(70, 66, 66);
  width: 99px;
  padding-right: 350px;
}
td {
  border: 1px solid rgb(184, 179, 179);
  /* background-color: rgb(165, 163, 160); */
}

input ~ button {
  text-align: center;
  margin-left: 45%;
  background-color: rgb(58, 146, 58);
}
