.invent {
  margin-left: 120px;
}
p ~ input {
  width: 97%;
  border: 2px solid rgb(236, 230, 230);
}
/* .quan ~ input {
  border: 2px solid rgb(38, 36, 36);
} */
table {
  width: 97%;
}
tr {
  height: 35px;
}
.th {
  background-color: blue;
  color: aliceblue;
  border: 1px solid rgb(70, 66, 66);
  width: 100px;
  padding-right: 200px;
}
/* #bt {
  padding-right: 2px;
} */
#btn {
  height: 35px;
  width: 90px;
  margin-left: 0px;
  position: relative;
  justify-content: flex-start;
}
td {
  border: 1px solid rgb(184, 179, 179);
  /* background-color: rgb(165, 163, 160); */
}
/* tr:hover {
  background-color: pink;
} */

input ~ button {
  text-align: center;
  margin-left: 45%;
  background-color: rgb(58, 146, 58);
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
